@import "base.css";
@import "nav-footer.css";

/* -------------------------- */
/* ------ Landing Page -------*/
/* -------------------------- */

body{
  background-color: #eeeeee;
}

.main-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.main-container {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("..//img/background.jpg") center center / cover no-repeat
    fixed;
    align-items: center;
}

.main-container h1 {
  letter-spacing: 1px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lp-content{
  padding-bottom: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  width: 90%;
}

.lp-content h1{
  color: #fff;
  font-size: 72px;
  font-weight: 900;
}

.lp-content p{
  color: #fff;
  font-size: 17.5px;
}

.main-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

/* ------------------------- */
/* ---- About Me Content ----*/
/* ------------------------ */

.second-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin-top: 50px;
}

.read-more-button {
  padding: 8px 25px;
  border-radius: 50px;
  border: 1px solid #0077cc;
  background: #0070c9;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.text-portion {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-bottom: 80px;
justify-content: space-between;
}

.paragraph {
  width: 100%;
  text-align: start;
  text-indent: 40px;
}

.paragraph p{
  margin-top: 20px;
}

.left-text{
  width: 45%;
}

.left-text h1{
  border-bottom: 1px solid black;
  width: 100%;
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 40px;
}

.left-text p{
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.right-text{
  width: 45%;
  height: 500px;
  text-align: right;
}

.right-text h1{
  margin-bottom: 20px;
  margin-top: 25px;
  font-size: 24px;
  font-weight: 900;
}

.right-image{
  background: url("..//img/lads.JPG") center center / cover no-repeat;
  width: 100%;
  height: 250px;
}


/* ------------------------- */
/* -------- Projects ---------*/
/* ------------------------ */

.col img {
  width: 100%;
  height: 100%;
}

section {
  padding: 70px 0;
  background-color: #f7f8f9;
  width: 100%;
  text-align: center;
}

section h1{
  padding-bottom: 50px;
  font-weight: 900;
  font-size: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}

.col {
  width: 100%;
  padding: 15px;
}

.col h3{
  padding-bottom: 15px;
}

.col-content {
  position: relative;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 10px 24px 0 rgba(59, 69, 152, 0.1);
  display: flex;
}

.row-container{
  margin: 0 auto;
}

.all-projects{
  padding: 8px 25px;
  border-radius: 50px;
  border: 1px solid #0077cc;
  background: #0070c9;
  color: white;
  cursor: pointer;
}

/* ------------------------- */
/* ------ Support Me --------*/
/* ------------------------ */

.support-me-base{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 70px 0;
}

.support-me-base h1{
  text-align: center;
  font-weight: 900;
  font-size: 30px;
}

.support-me-container{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
}

.support-right{
  width: 45%;
  text-align: right;
}

.support-right h1{
  padding-top: 50px;
}

.support-left{
  width: 45%;
}

.support-me-text p{
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.support-me-text h1{
  border-bottom: 1px solid black;
  width: 100%;
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 40px;
  text-align: start;
}

.contact-us-info {
  width: 100%;
  border: 1px solid black;
  height: auto;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-top: 45px;
}

.contact-us-info p {
  padding-top: 10px;
}

.contact-us-info i {
  padding: 15px;
  background-color: rgb(236, 233, 246);
  color: rgb(82, 86, 154);
  border-radius: 50%;
  font-size: 24px;
}

.contact-us-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

/* ------------------------- */
/* ----- Media Queries ------ */
/* ------------------------- */

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  .contact-us-nav{
    display: none;
  }
  .mobile-nav p i  {
    display: block;
    color: #000732;
    height: 40px;
  }

}

@media screen and (min-width: 320px) {
  nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

@media screen and (min-width: 580px) {
  nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .container,
  .row-container {
    max-width: 800px;
  }

  nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }


}

@media screen and (min-width: 769px){
  nav {
    display: block;
  }
}

@media screen and (max-width: 768px){
  .left-text, .right-text{
    width:100%;
  }
  .lp-content h1{
    font-size: 42px;
  }
  .right-text{
    height: auto;
  }
  .right-text h1{
    text-align: center;
  }
  .support-left, .support-right{
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .container,
  .row-container {
    max-width: 1140px;
  }

  nav {
    display: block;
  }
  .mobile-nav {
    display: none;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    width: 25%;
  }
}
