@import "base.css";
@import "nav-footer.css";

/* -------------------------- */
/* ------ Landing Page -------*/
/* -------------------------- */

body {
  background-color: white;
}

.main-container{
  background-color: #eeeeee;
  height: 100vh;
  display: flex;
  align-items: center;
}

.lp-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.left-introduction {
  width: 50%;
  height: 600px;
  display: flex;
  align-items: center;
}

.right-introduction {
  width: 50%;
  padding-top: 50px;
}

.about-me-image {
  width: 100%;
  height: 450px;
  background: url("..//img/about-me-image.png") center center / cover no-repeat;
}

.lp-text {
  text-align: left;
}

.lp-text h1 {
  font-weight: 900;
  font-size: 4.5rem;
}

.lp-text p {
  font-size: 2rem;
  font-weight: 700;
}

.lp-text p + p {
  margin-left: 20px;
}

.read-more-button {
  padding: 12px 35px;
  border-radius: 50px;
  border: 1px solid #0077cc;
  background: #0070c9;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.read-more-button :hover{
  animation: bounce 1s;
}

@keyframes bounce{
  0%, 50%, 100% {transform: translateY(0);}
  50%{transform: translateY(-8px);}
}

.read-more-button:hover {
  animation: bounce .4s linear; }

.lp-buttons {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
}

.lp-button-2 {
  margin-left: 10%;
  background-color: #eeeeee;
  color: #0077cc;
}

/* -------------------------- */
/* ------ Accomplishments -------*/
/* -------------------------- */

.main-accomplishments {
  width: 100%;
  background-color: #f7f8f9;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.accomplishments-content {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.accomplishments-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 1280px;
}

.accomplishments-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 175px;
}

.col-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.col h1 {
  font-weight: 900;
  color: #0077cc;
}

.col p {
  font-size: 18px;
}

.col i {
  font-size: 40px;
  font-weight: 900;
  color: #0077cc;
}

.divider {
  height: 2px;
  width: 25px;
  background-color: #0077cc;
  margin: 20px 0px;
}

/* ------------------------- */
/* ----- Latest Travel ------ */
/* ------------------------- */

.latest-travel-center {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.latest-travel-width {
  width: 90%;
  max-width: 1280px;
}

.latest-travel-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.divider-2 {
  height: 2px;
  width: 60px;
  background-color: #0077cc;
  margin: 20px 0px;
}

.latest-travel-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
}

.latest-travel-left {
  position: relative;
  width: 48.5%;
  height: 550px;
  background: url("..//img/cuba.PNG") center center / cover no-repeat;
}

.latest-travel-right {
  width: 48.5%;
  height: 550px;
  background: url("..//img/jamaica.png") center center / cover no-repeat;
}

.darkness {
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.travel-text {
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
}

.travel-text h2 {
  color: white;
  padding: 20px 0px 10px 0px;
}

.travel-text p {
  width: 70%;
}

/* -------------------------- */
/* ------ Accomplishments -------*/
/* -------------------------- */

.see-more-head {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 70px;
}

.see-more-head p {
  padding-bottom: 20px;
}

.see-more-head a {
  color: #0077cc;
  cursor: pointer;
}

.see-more-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f7f8f9;
}

.see-more-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 1280px;
}

.col-1 {
  background: url("..//img/trip-1.jpg") right center / cover no-repeat;
  width: 23%;
  height: 240px;
}

.col-2 {
  background: url("..//img/trip-3.jpg") right center / cover no-repeat;
  width: 23%;
  height: 240px;
}

.col-3 {
  background: url("..//img/trip-2.png") right center / cover no-repeat;
  width: 23%;
  height: 240px;
}

.col-4 {
  background: url("..//img/trip-4.jpg") right center / cover no-repeat;
  width: 23%;
  height: 240px;
}

.see-more-dots button {
  border-radius: 50%;
  height: 13px;
  width: 13px;
  border: 1px solid #0077cc;
}

.see-more-dots button:hover {
  background-color: #0077cc;
  cursor: pointer;
}

.see-more-dots {
  width: 15%;
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
}

/* ------------------------- */
/* -------- Quote ---------- */
/* ------------------------- */

.center-quote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-line{
  height: 150px;
  width: 1px;
  background-color: #0077cc;
}

.quote-container {
  padding-left: 30px;
}

.quote-head i {
  font-size: 32px;
  color: #0077cc;
}

.quote-head {
  padding-bottom: 20px;
  padding-top: 70px;
}

.quote-content {
  padding-bottom: 20px;
}

.quote-name{
  padding-bottom: 70px;
}

/* ------------------------- */
/* ----- Media Queries ------ */
/* ------------------------- */

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  .contact-us-nav {
    display: none;
  }
  .mobile-nav p i {
    display: block;
    color: #000732;
    height: 40px;
  }
  .left-introduction,
  .right-introduction {
    width: 100%;
  }
  .right-introduction {
    padding-top: 0px;
  }
  .lp-buttons {
    padding-top: 20px;
  }
  .about-me-image {
    height: 300px;
    background: url("..//img/about-me-image.png") right center / cover no-repeat;
  }
  .accomplishments-row{
    width:100vw;
    margin-left: -10vw;
    justify-content:space-around;
    margin-bottom: 40px;
  }
  .latest-travel-right, .latest-travel-left{
    width:100%;
  }
  .latest-travel-left{
    margin-bottom: 40px;
  }
  .latest-travel-center{
    margin-bottom: 80px;
  }

}

@media screen and (min-width: 320px) {
  nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

@media screen and (max-width: 580px) {
  nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .see-more-dots{
    width: 30%;
  }
  .lp-content h1{
    font-size: 3.5rem;
  }
  .lp-content p{
    font-size: 1.3rem;
  }
  .read-more-button{
    font-size: 12px;
  }
}

@media screen and (min-width: 580px) {
  nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .container,
  .row-container {
    max-width: 800px;
  }

  nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}
@media screen and (max-width: 768px) {
.see-more-row{
  flex-direction: column;
}
.col-1{
  width: 100%;
  margin-bottom: 50px;
}
.col-2{
  width: 100%;
  margin-bottom: 50px;
}
.col-3{
  width: 100%;
  margin-bottom: 50px;
}
.col-4{
  width: 100%;
}
.accomplishments-row{
  flex-direction: column;
  width: 100%;
}
.accomplishments-row{
  margin: 0 auto;
}
.left-introduction{
  width: 80%;
  margin: 0 auto;
}

.about-me-image {
  width: 80%;
  margin: 0 auto;
  margin-top: -100px;
}
.right-introduction{
  padding-bottom: 40px;
}
.lp-content{
  padding-bottom: 150px;
}
}

@media screen and (min-width: 769px){
  nav {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .container,
  .row-container {
    max-width: 1280px;
  }

  nav {
    display: block;
  }
  .mobile-nav {
    display: none;
  }
}
