@import "base.css";
@import "nav-footer.css";
@import "hamburger.css";

body {
  background-color: white;
}

.lp-center {
  background: url("..//img/lp-img-blog.jpg") center center / cover no-repeat
    fixed;
  width: 100%;
}

.darkness {
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.lp-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  justify-content: center;
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.lp-content h1 {
  font-size: 72px;
  font-weight: 900;
  padding-bottom: 70px;
  color: white;
}

.lp-content h3 {
  font-weight: 900;
  padding-left: 50px;
  font-size: 24px;
}
/* ------------------------- */
/* ----- Content ------ */
/* ------------------------- */

.article-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.article-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  padding-bottom: 70px;
}

.article-text {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content p {
  line-height: 40px;
  font-size: 20px;
  padding-bottom: 40px;
  text-indent: 40px;
}

.content:last-child {
  padding-top: 30px;
}

.article-text h2 {
  padding-top: 70px;
  font-size: 28px;
  padding-bottom: 20px;
}

.col-content {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 24px 28px 29px 28px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 20px 48px 0 rgb(59 69 152 / 20%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-md-6{
    flex: 0 0 50%;
    max-width: 50%;
}

.row-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;   
}

.col-md-6{
    padding: 20px;
}

.button a {
    display: inline-block;
    width: 120px;
    height: 46px;
    margin-top: 34px;
    line-height: 47px;
    background-color: #d94d3f;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 2.5 ease-in-out;
  }
  
  .chest p{
    padding-bottom: 0px;
  }
/* ------------------------- */
/* ----- Media Queries ------ */
/* ------------------------- */

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  .contact-us-nav {
    display: none;
  }
  .mobile-nav p i {
    display: block;
    color: #000732;
    height: 40px;
  }
}

@media screen and (min-width: 320px) {
  nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

@media screen and (min-width: 580px) {
  nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .col-md-6{
    flex: 0 0 50%;
    max-width: 50%;
}
}

@media screen and (min-width: 768px) {
  .container,
  .row-container {
    max-width: 800px;
  }

  nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  nav {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .container,
  .row-container {
    max-width: 1280px;
  }

  nav {
    display: block;
  }
  .mobile-nav {
    display: none;
  }
}

@media screen and (max-width: 580px) {
    .col-md-6{
      flex: 0 0 100%;
      max-width: 100%;
  }
  }
