@import "base.css";
@import "nav-footer.css";

body {
  background-color: white;
}

.form {
  width: 100%;
  border-radius: 15px;
}

.form h2 {
  font-size: 24px;
  font-weight: 600;
}
.form p {
  margin-top: 4px;
  font-size: 16px;
  font-weight: 400;
}

form {
  width: 100%;
  padding: 25px;
  background: #fff;
  padding: 30px;
  position: relative;
}

.form-heading {
  margin-bottom: 30px;
}

input {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 0 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-top: 15px;
  padding-top: 15px;
}

form input + input {
  margin-top: 15px;
}

input:focus {
  border: 1px solid #61cafd;
}

.buttons {
  text-align: right;
}

input[type="reset"] {
  width: 110px;
  height: 46px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #039be5;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #039be5;
  cursor: pointer;
  margin-right: 20px;
}
input[type="reset"]:hover {
  border: 1px solid #038ed2;
  color: #038ed2;
}

input[type="submit"] {
  width: 110px;
  height: 46px;
  text-align: center;
  background-color: #039be5;
  border: 1px solid #039be5;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #fff;
  cursor: pointer;
  margin-top: 40px;
}

input[type="submit"]:hover {
  background-color: #038ed2;
}

.contact-us-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eeeeee;
}

.contact-us-content {
  width: 90%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  height: calc(100vh - 60px);
}

.contact-us-left {
  width: 50%;
  border: 2px solid #039be5;
}
.contact-us-right {
  width: 50%;
  border: 1px solid #ccc;   
  background-color: #039be5;
  border: 2px solid #039be5;
  height: 580px;
}

.contact-us-right h1 {
  color: white;
  text-align: center;
  padding-top: 20px;
}

.contact-us-icons {
  width: 60%;
  display: flex;
  justify-content: space-around;
  color: white;
  margin: 0 auto;
  padding-top: 15px;
}

.contact-us-icons i{
  cursor: pointer;
  border: 3px solid white;
  border-radius: 50%;
  padding: 10px;
  font-size: 24px;
  z-index: 9999;
}

.contact-us-icons i:hover{
  background-color: rgba(255, 255, 255, 1);
  color: #039be5;
  border: white 3px solid;
}


.row{
    color: white;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    padding-left: 10%;
}

.row i{
    padding-right: 30px;
}

.row-1{
  padding-top: 10px;
}

#map{
    height: 200px;
    width: 80%;
    margin: 0 auto;
    z-index: 9999;
}

/* ------------------------- */
/* ----- Media Queries ------ */
/* ------------------------- */

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  .contact-us-nav {
    display: none;
  }
  .mobile-nav p i {
    display: block;
    color: #000732;
    height: 40px;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .contact-us-left, .contact-us-right{
    width: 100%;
  }
  .contact-us-right{
    margin-top: 40px;
    padding-bottom: 40px;
    height: auto;
  }

  .contact-us-content{
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 372px){
  .contact-us-right span{
    margin-left: calc(-40vw - 17% + 106px);
  }
}

@media screen and (min-width: 320px) {
  nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

@media screen and (min-width: 580px) {
  nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .container,
  .row-container {
    max-width: 800px;
  }

  nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .row{
      font-size: 16px;
  }
}
@media screen and (min-width: 769px){
  nav {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .container,
  .row-container {
    max-width: 1280px;
  }

  nav {
    display: block;
  }
  .mobile-nav {
    display: none;
  }
  .row{
      font-size: 20px;
  }
}
