@import "base.css";
@import "nav-footer.css";

body {
  background-color: #eeeeee;
}

.lp-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  justify-content: center;
  text-align: left;
}

.lp-content h1 {
  font-weight: 900;
  font-size: 60px;
  padding-bottom: 70px;
}

.lp-content h3 {
  font-weight: 900;
  padding-left: 50px;
  font-size: 24px;
}

/* ------------------------- */
/* -------- Article -------- */
/* ------------------------- */

.article-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.article-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
}

.article-text {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-image {
  margin-top: -100px;
  height: 288px;
  width: 55%;
  background: url("..//img/main-article.png") center center / cover no-repeat;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.article-text p {
  text-indent: 40px;
  line-height: 25px;
  width: 80%;
  margin: 0 auto;
}

.article-text h2 {
  padding-top: 70px;
  text-align: left;
  margin-left: 10%;
  padding-bottom: 10px;
}

.article-text {
  padding-bottom: 40px;
}

/* ------------------------- */
/* ----- Media Queries ------ */
/* ------------------------- */

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  .contact-us-nav {
    display: none;
  }
  .mobile-nav p i {
    display: block;
    color: #000732;
    height: 40px;
  }
  .left-introduction,
  .right-introduction {
    width: 100%;
  }
  .right-introduction {
    padding-top: 0px;
  }
  .lp-buttons {
    padding-top: 20px;
  }
  .about-me-image {
    height: 300px;
    background: url("..//img/about-me-image.png") right center / cover no-repeat;
  }
}

@media screen and (min-width: 320px) {
  nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

@media screen and (min-width: 580px) {
  nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .container,
  .row-container {
    max-width: 800px;
  }

  nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .container,
  .row-container {
    max-width: 1140px;
  }

  nav {
    display: block;
  }
  .mobile-nav {
    display: none;
  }
}
