@import "base.css";

/* -------------------------- */
/* --------- Header ----------*/
/* -------------------------- */

header {
    display: flex;
    justify-content: space-between;
    height: 8vh;
  }
  
  header .welcome {
    color: white;
  }
  .container {
    position: relative;
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
  }
  
  nav {
    height: 60px;
    overflow: hidden;
    width: 400px;
  }
  
  nav ul li a {
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    font-size: 0;
  }
  
  nav ul li {
    display: inline;
    line-height: 60px;
    cursor: default;
  }
  
  nav ul li a {
    letter-spacing: 1px;
    font-size: 18px;
    color: #000732;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-decoration: none;
    cursor: pointer;
  }

  .mobile-nav {
    overflow: hidden;
  }
  
  .mobile-nav p i {
    margin-top: 18px;
    font-size: 20px;
    color: #eeeeee;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mobile-nav {
    display: block;
  }

  .logo{
    display: flex;
    align-items: center;
  }

  .logo img{
    height: 40px;
    width: 90px;
  }

  .right-nav{
    display: flex;
    align-items: center;
  }

  .contact-us h3{
    font-size: 18px;
    padding: 4px 20px;
    border-radius: 50px;
    border: 1.5px solid #000732;
    font-weight: 400;
  }

/* -------------------------- */
/* ------ Landing Page -------*/
/* -------------------------- */

body{
  background-color: #eeeeee;
}

.main-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.main-container {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("..//img/background.jpg") center center / cover no-repeat
    fixed;
    align-items: center;
}

.main-container h1 {
  letter-spacing: 1px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lp-content{
  padding-bottom: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  width: 80%;
}

.lp-content h1{
  color: #fff;
  font-size: 72px;
  font-weight: 900;
}

.lp-content p{
  color: #fff;
  font-size: 17.5px;
}

.main-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

/* ------------------------- */
/* ---- About Me Content ----*/
/* ------------------------ */

.second-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.read-more-button {
  padding: 8px 25px;
  border-radius: 50px;
  border: 1px solid #0077cc;
  background: #0070c9;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.text-portion {
  width: 73%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 80px;
justify-content: space-between;
}

.paragraph {
  width: 100%;
  text-align: start;
}

.paragraph p{
  margin-top: 20px;
}

.left-text{
  width: 50%;
}

.left-text h1{
  border-bottom: 1px solid black;
  width: 100%;
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 40px;
}

.left-text p{
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.right-text{
  width: 45%;
  height: 500px;
  text-align: right;
}

.right-text h1{
  margin-bottom: 20px;
  margin-top: 25px;
  font-size: 24px;
  font-weight: 900;
}

.right-image{
  background: url("..//img/lads.JPG") center center / cover no-repeat;
  width: 100%;
  height: 250px;
}


/* ------------------------- */
/* -------- Projects ---------*/
/* ------------------------ */

.col img {
  width: 100%;
  height: 100%;
}

section {
  padding: 70px 0;
  background-color: #f7f8f9;
  width: 100%;
  text-align: center;
}

section h1{
  padding-bottom: 50px;
  font-weight: 900;
  font-size: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}

.col {
  width: 100%;
  padding: 15px;
}

.col h3{
  padding-bottom: 15px;
}

.col-content {
  position: relative;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 10px 24px 0 rgba(59, 69, 152, 0.1);
  display: flex;
}

.row-container{
  margin: 0 auto;
}

.all-projects{
  padding: 8px 25px;
  border-radius: 50px;
  border: 1px solid #0077cc;
  background: #0070c9;
  color: white;
  cursor: pointer;
}

/* ------------------------- */
/* ------ Support Me --------*/
/* ------------------------ */

.support-me-base{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.support-me-base h1{
  text-align: center;
}

.support-me-container{
  width: 73%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.support-right{
  width: 50%;
  text-align: right;
}

.support-left{
  width: 50%;
}

.support-me-text p{
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.support-me-text h1{
  border-bottom: 1px solid black;
  width: 100%;
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 40px;
}


/* ------------------------- */
/* -------- Footer ---------*/
/* ------------------------ */

footer {
  background-color: #e5e5ef;
  height: 60px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
}
.fab {
  font-size: 30px;
  padding: 20px;
}
.footer-text {
  display: flex;
  justify-content: end;
  padding: 20px;
}
.icons-2 {
  color: white;
  cursor: pointer;
  font-size: 24px;
  margin-bottom: 15px;
}

/* ------------------------- */
/* ----- Media Queries ------ */
/* ------------------------- */

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  .contact-us{
    display: none;
  }
  .mobile-nav p i  {
    display: block;
    color: #000732;
    height: 40px;
  }

}

@media screen and (min-width: 320px) {
  nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

@media screen and (min-width: 580px) {
  nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .container,
  .row-container {
    max-width: 800px;
  }

  nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .form,
  .contact-us-info {
    margin-top: 0;
    width: 45%;
  }

  .contact-us-info{
      height: 270px;
  }
}

@media screen and (min-width: 1024px) {
  .container,
  .row-container {
    max-width: 1140px;
  }

  nav {
    display: block;
  }
  .mobile-nav {
    display: none;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    width: 25%;
  }
}
