/* -------------------------- */
/* --------- Header ----------*/
/* -------------------------- */

header {
    display: flex;
    justify-content: space-between;
    height: 8vh;
  }
  
  header .welcome {
    color: white;
  }
  .container {
    position: relative;
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
  }
  
  nav {
    height: 60px;
    overflow: hidden;
    width: 400px;
  }
  
  nav ul li a {
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    font-size: 0;
  }
  
  nav ul li {
    display: inline;
    line-height: 60px;
    cursor: default;
  }
  
  nav ul li a {
    letter-spacing: 1px;
    font-size: 18px;
    color: #000732;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-decoration: none;
    cursor: pointer;
  }

  .mobile-nav {
    overflow: hidden;
  }
  
  .mobile-nav p i {
    margin-top: 18px;
    font-size: 20px;
    color: #eeeeee;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mobile-nav {
    display: block;
  }

  .logo{
    display: flex;
    align-items: center;
  }

  .logo img{
    height: 40px;
    width: 90px;
  }

  .right-nav{
    display: flex;
    align-items: center;
  }

  .contact-us-nav h3{
    font-size: 18px;
    padding: 4px 20px;
    border-radius: 50px;
    border: 1.5px solid #000732;
    font-weight: 400;
  }

/* ------------------------- */
/* -------- Footer ---------*/
/* ------------------------ */

footer {
  background-color: rgb(12, 12, 12);
  height: 150px;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
  padding-bottom: 50px;
}
.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  padding-top: 10px;
}
.fab {
  font-size: 30px;
  padding: 20px;
}
.footer-text h3{
  display: flex;
  justify-content: end;
  padding: 20px;
  font-size: 24px;
  letter-spacing: .8px;
  border-bottom: 1px solid white;
  font-weight: 400;
}
.icons-1 {
  color: white;
  cursor: pointer;
  font-size: 20px;
}