@import "base.css";
@import "nav.css";

/* -------------------------- */
/* ------ Landing Page -------*/
/* -------------------------- */

body {
  background-color: #1472ff;
}

#main-container {
  background-color: white;
  height: 100vh;
  width: 100%;
}

#button-1 {
  margin-top: 30px;
  width: 150px;
  height: 45px;
  border-radius: 4px;
  font-size: 17px;
  color: #fff;
  background-color: #1472ff;
  box-shadow: rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 0px 16px 10px --10px;
  cursor: pointer;
}

#button-2 {
  margin-top: 30px;
  width: 150px;
  height: 45px;
  border-radius: 4px;
  font-size: 17px;
  color: #fff;
  background-color: #1472ff;
  box-shadow: rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 0px 16px 10px --10px;
  cursor: pointer;
}

#message {
  visibility: hidden;
  opacity: 0;
}

#message.is-visible {
  visibility: visible;
  opacity: 1;
}

.container {
  display: flex;
  flex-direction: column;
}

/* toggle a class */
#purple.purple {
  color: purple;
}
#orange.orange {
  color: orange;
}
#green.green {
  color: green;
}

#list li {
  font-size: 18px;
  cursor: pointer;
  list-style: none;
}

#list li + li {
  margin-top: 8px;
}

input[type="text"] {
  width: 350px;
  height: 45px;
  background-color: #fff;
  padding: 0 15px;
  border-radius: 4px;
  margin-right: 15px;
  border: 2px solid #D3D3D3;
}

input {
  margin-top: 20px;
}


#celsius {
  margin-top: 30px;
}

#fahrenheit {
  margin-top: 30px;
}

#celsius-output {
  width: 520px;
  background-color: #D3D3D3;
  height: 50px;
  border-radius: 4px;
  margin-top: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
}

#celsius-output p{
  padding-left: 20px;
}

#fahrenheit-output {
  width: 520px;
  background-color: #D3D3D3;
  height: 50px;
  border-radius: 4px;
  margin-top: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
  text-align: left;
}

#fahrenheit-output p{
  padding-left: 20px;
}

.spacer {
  height: 30px;
}

#dark-mode{
  height: 50px;
  width: 140px;
  border-radius: 50px;
  color: white;
  background-color: #1472ff;
  margin-top: 300px;
  margin: 0 auto;
}

.extra{
  margin-top: 100px;
}

.background-dark{
  background-color: rgb(32, 33, 38) !important;
}

.darkmode-headings{
  color: white;
}

.darkmode-celsius-input{
background-color: rgb(32, 33, 38) !important;
}

.darkmode-fahrenheit-input{
  background-color: rgb(32, 33, 38) !important;
}

.darkmode-celsius-textarea{
  background-color: rgb(51, 52, 61) !important;
}

.darkmode-fahrenheit-textarea{
  background-color: rgb(51, 52, 61) !important;
}

.results-text{
  color: white;
}
