/* -------------------------- */
/* --------- Header ----------*/
/* -------------------------- */

header {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
  }
  
  header .welcome {
    color: white;
  }
  .container, .header-container {
    position: relative;
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
  }
  
  nav {
    height: 8vh;
    overflow: hidden;
  }
  
  nav ul li a {
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    font-size: 0;
  }
  
  nav ul li {
    display: inline;
    line-height: 8vh;
    cursor: default;
  }
  
  nav ul li a {
    letter-spacing: 1px;
    font-size: 18px;
    color: white;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-decoration: none;
    cursor: pointer;
  }

    .right-nav{
    display: flex;
    align-items: center;
  }

  .contact-us-nav h3{
    font-size: 18px;
    padding: 4px 20px;
    border-radius: 50px;
    border: 1.5px solid white;
    font-weight: 400;
  }

  .contact-us-nav a{
    text-decoration: none;
    color: white;
  }

  .logo{
      color: white;
  }